---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<div class="container">
  <h1 class="display-3 my-5 text-center">{{ source.schedule.pageHeader }}
  </h1>
  <div class="my-2 text-center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img
          src="{{ '/images/donuts.png' | url }}"
          class="img-fluid"
          alt="a screenshot of the OpenStreetMap editing screen with a donut emoji and a coffee emoji.">
        <br>
      </div>
    </div>
  </div>

  <!--
  <div class="my-5">
    <strong>View for:</strong>
    <div class="dropdown">
      <a
        class="btn btn-outline-secondary dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        Language
      </a>

      <ul class="dropdown-menu dropdown-menu-start text-start">

        {% assign links = page.url | locale_links %}
        {%- for link in links %}
          <li>
            <a
              class="dropdown-item"
              href="{{ link.url }}"
              lang="{{ link.lang }}"
              hreflang="{{ link.lang }}">{{ link.label }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  -->

  <table class="table schedule">
    <thead>
      <tr>
        <th scope="col" style="width: 10%;">US<br>(PT)</th>
        <th scope="col" style="width: 10%;">Germany<br>(CEST)</th>
        <th scope="col" style="width: 10%;">Japan<br>(JPT)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary">
        <td class="day-start">
          April 18
        </td>
        <td class="day-start">
          April 19
        </td>
        <td class="day-start">
          April 19
        </td>
      </tr>
      <tr>
        <td class="day-time">17:00</td>
        <td class="day-time">02:00</td>
        <td class="day-time">09:00</td>
        <td class="">
          <strong>Day 1 - Welcome!</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png"><br>
          - Yoh (Japan) and Andy (Mexico/US)
        </td>
      </tr>
      <tr>
        <td class="day-time">17:15</td>
        <td class="day-time">02:15</td>
        <td class="day-time">09:15</td>
        <td class="">
          <strong>Opening Keynote</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png"><br>
          - Céline Jacquin
        </td>
      </tr>
      <tr>
        <td class="day-time">18:00</td>
        <td class="day-time">03:00</td>
        <td class="day-time">10:00</td>
        <td class="">
          <strong>Training Workshop</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png"><br>
          Mapping on Open Street Map
        </td>
      </tr>
      <tr>
        <td class="day-time">18:30</td>
        <td class="day-time">03:30</td>
        <td class="day-time">10:30</td>
        <td class="">
          <strong>Mapping in-person, live Slack support</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png"><br>
        </td>
      </tr>
      <tr>
        <td class="day-time">20:00</td>
        <td class="day-time">05:00</td>
        <td class="day-time">12:00</td>
        <td class="">
          <strong>Live events conclude for Day 1!</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png"><br>
        </td>
      </tr>
      <tr>
        <td class="table-secondary day-start">April 19</td>
        <td class="day-time"></td>
        <td class="day-time"></td>
      </tr>
      <tr>
        <td class="day-time">03:30</td>
        <td class="day-time">12:30</td>
        <td class="day-time">19:30</td>
        <td class="">
          <strong>Welcome!</strong> <img style="width:30px;" src="/images/flag-germany_1f1e9-1f1ea.png"><br>
          - Professor Walker, Professor Glasze
        </td>
      </tr>
      <tr>
        <td class="day-time">--</td>
        <td class="day-time">--</td>
        <td class="day-time">--</td>
        <td class="">
          <strong>Opening Keynote</strong> <img style="width:30px;" src="/images/flag-germany_1f1e9-1f1ea.png"><br>
          - Dr. Danijel Schorlemmer
        </td>
      </tr>
      <tr>
        <td class="day-time">--</td>
        <td class="day-time">--</td>
        <td class="day-time">--</td>
        <td class="">
          <strong>Training Workshop</strong> <img style="width:30px;" src="/images/flag-germany_1f1e9-1f1ea.png"><br>
        </td>
      </tr>
      <tr>
        <td class="day-time">04:45</td>
        <td class="day-time">13:45</td>
        <td class="day-time">20:45</td>
        <td class="">
          <strong>Mapping in-person, live Slack support </strong> <img style="width:30px;" src="/images/flag-germany_1f1e9-1f1ea.png"><br>
        </td>
      </tr>
      <tr>
        <td class="day-time"></td>
        <td class="table-secondary day-start">April 20</td>
        <td class="table-secondary day-start">April 20</td>
      </tr>
      <tr>
        <td class="day-time">17:00</td>
        <td class="day-time">02:00</td>
        <td class="day-time">09:00</td>
        <td class="">
          <strong>Day 2 - Opening Remarks</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png"><br>
        </td>
      </tr>
      <tr>
        <td class="day-time">17:10</td>
        <td class="day-time">02:10</td>
        <td class="day-time">09:10</td>
        <td class="">
          <strong>Lightning Talk Marathon</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png"><br>
          Format: 3 minute presentations
        </td>
      </tr>
      <tr>
        <td class="day-time">18:50</td>
        <td class="day-time">03:50</td>
        <td class="day-time">10:50</td>
        <td class="">
          <strong>Day 2 Leaderboard Reveal and Wrap Up</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png"><br>
        </td>
      </tr>
      <tr>
        <td class="table-secondary day-start">April 20</td>
        <td class="table-secondary day-start">April 21</td>
        <td class="table-secondary day-start">April 21</td>
      </tr>
      <tr>
        <td class="day-time">17:00</td>
        <td class="day-time">02:00</td>
        <td class="day-time">09:00</td>
        <td class="">
          <strong>Day 3 - Opening Remarks</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png"><br>
        </td>
      </tr>
      <tr>
        <td class="day-time">17:15</td>
        <td class="day-time">02:15</td>
        <td class="day-time">09:15</td>
        <td class="">
          <strong>Closing Keynote</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png">
          - Taichi Furuhashi
        </td>
      </tr>
      <tr>
        <td class="day-end">18:00</td>
        <td class="day-end">03:00</td>
        <td class="day-end">10:00</td>
        <td class="">
          <strong>Big Reveal, Prizes, and Closing Remarks</strong> <img style="width:30px;" src="/images/flag-united-states_1f1fa-1f1f8.png"><img style="width:30px;" src="/images/flag-japan_1f1ef-1f1f5.png">
        </td>
      </tr>
    </tbody>
  </table>


<!--
  <h2 class="display-5">{{ source.schedule.day1 }}</h2>
  <h3>{{ source.schedule.date1 }}</h3>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day1EventTime1 }}
    </div>
    <div class="col">
      {{ source.schedule.day1EventDescription1 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day1EventTime2 }}
    </div>
    <div class="col">
      {{ source.schedule.day1EventDescription2 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day1EventTime3 }}
    </div>
    <div class="col">
      {{ source.schedule.day1EventDescription3 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day1EventTime4 }}
    </div>
    <div class="col">
      {{ source.schedule.day1EventDescription4 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day1EventTime5 }}
    </div>
    <div class="col">
      {{ source.schedule.day1EventDescription5 }}
    </div>
  </div>

  <h2 class="display-5 mt-5">{{ source.schedule.day2 }}</h2>
  <h3>{{ source.schedule.date2 }}</h3>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day2EventTime1 }}
    </div>
    <div class="col">
      {{ source.schedule.day2EventDescription1 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day2EventTime2 }}
    </div>
    <div class="col">
      {{ source.schedule.day2EventDescription2 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day2EventTime3 }}
    </div>
    <div class="col">
      {{ source.schedule.day2EventDescription3 }}
    </div>
  </div>

  <h2 class="display-5 mt-5">{{ source.schedule.day3 }}</h2>
  <h3>{{ source.schedule.date3 }}</h3>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day3EventTime1 }}
    </div>
    <div class="col">
      {{ source.schedule.day3EventDescription1 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day3EventTime2 }}
    </div>
    <div class="col">
      {{ source.schedule.day3EventDescription2 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2 text-end">
      {{ source.schedule.day3EventTime3 }}
    </div>
    <div class="col">
      {{ source.schedule.day3EventDescription3 }}
    </div>
  </div>
</div>
-->