{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <div class="navbar-nav ms-auto">
        <ul class="navbar-nav text-end">
          <li class="nav-item px-lg-2">
            <a class="nav-link" href="{{ '/' | url: page.lang }}">{{ source.nav.navIndex }}</a>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link" href="{{ '/schedule/' | url: page.lang }}">{{ source.nav.navSchedule }}</a>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link" href="{{ '/resources/' | url: page.lang }}">{{ source.nav.navResources }}</a>
          </li>
          <li class="nav-item dropdown px-lg-2">
            <a
              class="nav-link dropdown-toggle"
              href="{{ '/team/' | url: page.lang }}"
              role="button"
              data-bs-toggle="dropdown">{{ source.nav.navTeam }}</a>
            <ul class="dropdown-menu dropdown-menu-end text-end">
              <li>
                <a class="dropdown-item" href="{{ '/team/' | url: page.lang }}#section-1">
                  {{ source.team.section1Header }}
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ '/team/' | url: page.lang }}#section-2">
                  {{ source.team.section2Header }}
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link" href="{{ '/about/' | url: page.lang }}">{{ source.nav.navAbout }}</a>
          </li>
          <li class="nav-item px-lg-2">
            <div class="dropdown">
              <a
                class="btn btn-secondary dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Language
              </a>

              <ul class="dropdown-menu dropdown-menu-end text-end">

                {% assign links = page.url | locale_links %}
                {%- for link in links %}
                  <li>
                    <a
                      class="dropdown-item"
                      href="{{ link.url }}"
                      lang="{{ link.lang }}"
                      hreflang="{{ link.lang }}">{{ link.label }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>